.course-list-item {
  margin-right: 22px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  width: 150px;
}

.course-img {
  height: 48px;
  width: 44px;
}

.course-name {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #1e293b;
  margin-left: 6px;
}

.link {
  text-decoration: none;
}
